{% extends "base.html" %}
{% block titulo %} Lista de autores – uoMusic {% endblock %}
{% block contenido_principal %}
<h2>Autores</h2>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Grupo</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
                <tr>
                    <td>{{ autor.nombre }}</td>
                    <td>{{ autor.grupo }}</td>
                    <td>{{ autor.rol }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}